In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
#1: DATA WRANGLING AND ANALYSIS

data= pd.read_csv('city_data.csv', sep='|', header=1, parse_dates=['Last Data Update'])
print(data.shape)
data.head()
#the dataset has 86 rows and 14 columns

(86, 14)

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17

In [5]:
#exploratory analysis
##1. How did you handle missing values and duplicate records in the dataset? 
data.info()
#I have a lot of missing values in the column 'Average Price Groceries'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     object
 1   Population Density               85 non-null     float64
 2   Population                       86 non-null     int64
 3   Working Age Population           85 non-null     float64
 4   Youth Dependency Ratio           86 non-null     float64
 5   Unemployment Rate                85 non-null     float64
 6   GDP per Capita                   85 non-null     float64
 7   Days of very strong heat stress  86 non-null     int64
 8   Main Spoken Languages            85 non-null     object
 9   Average Monthly Salary           86 non-null     int64
 10  Avgerage Rent Price              86 non-null     int64
 11  Average Cost of Living           86 non-null     int64
 12  Average Price Groceries          6 non-null      float64
 13  Last Data Update                 86 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(5), object(2)
memory usage: 9.5+ KB

In [6]:
data['City'].describe()
#Berlin. Germany and Malaga, Spain are duplicated

count                  86
unique                 84
top       Berlin. Germany
freq                    2
Name: City, dtype: object

In [ ]:
#We have 80 missing values for Average Price Groceries, 1 for Population Density, Working Age Population, Unemployment Rate, GDP per Capita, Main Spoken Languages

In [7]:
#I want to delete duplicate info, but before I check info are the same
data.set_index('City').loc['Berlin. Germany']
data.set_index('City').loc['Malaga, Spain']

,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
City,,,,,,,,,,,,,
"Malaga, Spain",571.0,869096,585608.0,23.5,17.7,27694.0,0,"Spanish, English",2200,1312,1400,NaN,2023-11-27
"Malaga, Spain",571.0,869096,585608.0,23.5,17.7,27694.0,0,"Spanish, English",2200,1312,1400,NaN,2023-11-27

In [8]:
data.drop_duplicates(inplace=True)
data

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,NaN,2023-04-22
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,NaN,2024-08-09
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,120.0,2023-07-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,"Stockholm, Sweden",334.0,2344124,1534225.0,28.5,6.2,70950.0,0,"Swedish, English",2700,1400,2300,NaN,2024-09-11
82,"Gothenburg, Sweden",245.0,1037675,672152.0,28.2,6.3,49588.0,0,"Swedish, English",2500,1200,2100,NaN,2023-03-10
83,"Malmo, Sweden",368.0,680335,436271.0,29.4,9.2,44387.0,0,"Swedish, English",2400,1100,2000,NaN,2024-07-07
84,"Ankara, Turkiye",1922.0,4843511,3417691.0,30.0,14.4,38916.0,3,Turkish,900,450,900,309.0,2023-06-08
85,"Adana, Turkiye",552.0,1074543,718256.0,37.8,12.2,19945.0,59,Turkish,750,350,800,NaN,2024-05-02

In [9]:
data['City'].describe()
#no more duplicates info

count                  84
unique                 84
top       Vienna, Austria
freq                    1
Name: City, dtype: object

In [22]:
#2. a) Which country appears most frequently in the dataset? How many cities are associated with it?
data[['city', 'country']] = data['City'].str.split(',', expand=True)
countries_count = data['country'].value_counts()
countries_count

country
Germany            9
Italy              6
Spain              5
Netherlands        5
United Kingdom     5
Belgium            4
Portugal           4
Sweden             3
Switzerland        3
Poland             3
Norway             3
Hungary            3
Austria            2
Ireland            2
Croatia            2
Turkiye            2
Czechia            2
Bulgaria           2
France             2
Finland            2
Denmark            2
Slovenia           1
Slovak Republic    1
Romania            1
Cyprus             1
Greece             1
Athens             1
Malta              1
Latvia             1
Luxembourg         1
 France            1
Estonia            1
Name: count, dtype: int64

In [11]:
#b) How many cities are present in total? How many are associated with Greece?

In [12]:
data['City'].tolist()
#Germany is the country that appears the most; it appears 11 times (11 different cities)

['Vienna, Austria',
 'Salzburg, Austria',
 'Brussels, Belgium',
 'Antwerp, Belgium',
 'Gent, Belgium',
 'Bruges, Belgium',
 'Sofia, Bulgaria',
 'Dobrich, Bulgaria',
 'Zurich, Switzerland',
 'Geneva, Switzerland',
 'Basel, Switzerland',
 'Lefkosia, Cyprus',
 'Lemesos;Cyprus',
 'Prague, Czechia',
 'Ostrava, Czechia',
 'Berlin. Germany',
 'Hamburg, Germany',
 'Munich, Germany',
 'Cologne, Germany',
 'Frankfurt am Main, Germany',
 'Stuttgart, Germany',
 'Leipzig, Germany',
 'Dresden, Germany',
 'Dusseldorf, Germany',
 'Hanover, Germany',
 'Copenhagen, Denmark',
 'Odense, Denmark',
 'Madrid, Spain',
 'Barcelona, Spain',
 'Valencia, Spain',
 'Seville, Spain',
 'Malaga, Spain',
 'Tallinn, Estonia',
 'Helsinki, Finland',
 'Tampere, Finland',
 'Paris, France',
 'Lyon,  France',
 'Toulouse, France',
 'London, United Kingdom',
 'Leeds, United Kingdom',
 'Glasgow, United Kingdom',
 'Liverpool, United Kingdom',
 'Edinburgh, United Kingdom',
 'Greece, Athens',
 'Thessaloniki, Greece',
 'Zagreb, Croatia',
 'Split, Croatia',
 'Budapest, Hungary',
 'Miskolc, Hungary',
 'Debrecen, Hungary',
 'Dublin, Ireland',
 'Cork, Ireland',
 'Rome, Italy',
 'Milan, Italy',
 'Naples, Italy',
 'Turin, Italy',
 'Florence, Italy',
 'Venice, Italy',
 'Luxembourg, Luxembourg',
 'Riga, Latvia',
 'Malta, Malta',
 'The Hague, Netherlands',
 'Amsterdam, Netherlands',
 'Rotterdam, Netherlands',
 'Utrecht, Netherlands',
 'Eindhoven, Netherlands',
 'Oslo, Norway',
 'Bergen, Norway',
 'Stavanger, Norway',
 'Warsaw, Poland',
 'Lodz, Poland',
 'Cracow, Poland',
 'Lisbon, Portugal',
 'Porto, Portugal',
 'Braga, Portugal',
 'Coimbra, Portugal',
 'Giroc, Romania',
 'Bratislava, Slovak Republic',
 'Ljubljana, Slovenia',
 'Stockholm, Sweden',
 'Gothenburg, Sweden',
 'Malmo, Sweden',
 'Ankara, Turkiye',
 'Adana, Turkiye']

In [12]:
eu_countries=[
    "Austria",
    "Belgium",
    "Bulgaria",
    "Croatia",
    "Cyprus",
    "Czech Republic",
    "Denmark",
    "Estonia",
    "Finland",
    "France",
    "Germany",
    "Greece",
    "Hungary",
    "Ireland",
    "Italy",
    "Latvia",
    "Lithuania",
    "Luxembourg",
    "Malta",
    "Netherlands",
    "Poland",
    "Portugal",
    "Romania",
    "Slovakia",
    "Slovenia",
    "Spain",
    "Sweden"
]

In [9]:
data['City'].value_counts()
#Berlin, Germany and Malaga, Spain appears twice

City
Berlin. Germany           2
Malaga, Spain             2
Vienna, Austria           1
Rotterdam, Netherlands    1
The Hague, Netherlands    1
                         ..
Madrid, Spain             1
Odense, Denmark           1
Copenhagen, Denmark       1
Hanover, Germany          1
Adana, Turkiye            1
Name: count, Length: 84, dtype: int64

In [ ]:
#c) Which is the least spoken language in the dataset? Which are the top 3 most spoken languages?

In [ ]:
#3. a) Entries uploaded before April 2023 need to be updated. Which cities would require an update?

In [ ]:
#b) How many days ago was the last update? On what day, month, and year did it occur?

In [ ]:
#4. a) How are the Unemployment Rate and GDP per Capita distributed and related? What does this relationship suggest? Provide a visual representation.

In [ ]:
#b) Which are the top 5 cities with the largest difference between the Average Monthly Salary and Average Cost of Living? What about the top 5 countries with the smallest average difference? Show these results with meaningful visualizations.

In [ ]:
#c) Which is the best city for someone seeking:
#an average monthly salary above €2000,
#a cost of living below or equal to €1600, and
#a country suitable for starting a family (with a relatively larger youth population)?

In [ ]:
#5. What are three additional insights you find meaningful when comparing the given cities?

In [ ]:
#INTRERACTIVE MAP